/* No more red meat */


* {
  border: 1px solid;
  font-family: 'Roboto', sans-serif;
  color: #101215;
}


/* Colors
F5F7FA
E6E9ED
CCD1D9
AAB2BD
656D78
434A54
434A54
*/

html {
    height: 100%;
}

body {
    background-image: linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headline {
  font-weight: 600;
  font-size: 40px;
  margin: 104px 56px 0px 56px;
  padding: 8px 8px;
}

/* Body */

.body {
  font-weight: 400;
  font-size: 20px;
  margin: 16px 56px 0px 56px;
  padding: 8px 8px;
}

#emojisize {
  font-size: 14px;
}

#emojisizetwo {
  font-size: 32px;
}

/* Footer */

#copyright {
  font-size: 12px;
  font-weight: 800;
  color: #AAB2BD;
  margin: 16px 56px 0px 56px;
  padding: 8px 8px;
  letter-spacing: .3px;
}
