/* No more red meat */

/*
* {
  border: 1px solid;
}
*/

/* Colors
F5F7FA
E6E9ED
CCD1D9
AAB2BD
656D78
434A54
1D2632
*/

html {
    height: 100%;
}

body {
    background-image: -moz-linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    background-image: -webkit-linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    background-image: -o-linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    background-image: -ms-linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    background-image: linear-gradient(#FFFFFF 0%, #FBFCFF 100%);
    height: 80%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headline {
  display: block;
  color: #1D2632;
  font-weight: 500;
  font-size: 26px;
  max-width: 700px;
  margin: 72px 40px 0px 48px;
}

/* Body */

.body {
  font-weight: 350;
  font-size: 20px;
  margin: 64px 56px 0px 48px;
  color: #434A54;
}

#emojisize {
  font-size: 14px;
}

#emojisizetwo {
  font-size: 32px;
}

/* Projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: 48px;
  margin-top: 8px;
  list-style: none;
}

#inprogresswrapper {
  filter: grayscale(100%);
  opacity: .5;
}

.project-container {
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,1);
  box-shadow: 0 2px 4px rgba(29,38,50,.4);
  margin-top: 48px;
  margin-right: 32px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
}

.project-logos {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.project-logos-wip {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  opacity: .2;
  filter: grayscale(100%);
}

.project-title {
  font-size: 16px;
  font-weight: 500;
  color: #656D78;
  margin-top: 8px;
  display: block;
}

/*
.project-container:hover {
  box-shadow: 0 6px 28px rgba(29,38,50,.4);
  border-radius: 30px;
  -webkit-transition: 0.3s ease-out;
  -webkit-transform: translate(0px, -16px);
  cursor:pointer;
}
*/

/* Footer */

#copyright {
  font-size: 12px;
  font-weight: 800;
  color: #AAB2BD;
  margin: 32px 56px 0px 48px;
  letter-spacing: .3px;
}

#social #container {
  text-align: center;
  align-items: center;
}

#social #container ul {
  margin: 16px 56px 0px 48px;
}

#social #container li {
  float: left;
  padding-right: 24px;
  list-style-type: none;
}

#social #container .fa {
  padding-top: 48px;
  font-size: 24px;
  color: #AAB2BD;
  -webkit-transition: color 0.25s ease-in;
}

#social #container .fa-twitter:hover {
  color: #1DA1F2;
  -webkit-transition: color 0.25s ease-in;
}

#social #container .fa-instagram:hover {
  color: #8a3ab9;
  -webkit-transition: color 0.25s ease-in;
}

#social #container .fa-envelope:hover {
  color: #434A54;
  -webkit-transition: color 0.25s ease-in;
}

footer {
  display: flex;
  flex-direction: column;
}
