<nav class="dt bg-white fixed top-0 w-100 border-box z-999">
    <div class="sans-serif mw8 pa4 ph5-ns center">
        <a class="link dim mid-gray dib f6 f5-ns mr3 mr4-ns" href="index.html" title="Home Page">Home</a>
        <a class="link dim mid-gray dib f6 f5-ns mr3 mr4-ns" target="_blank" rel="noreferrer noopener" href="https://drive.google.com/file/d/1FmijMqs1Hb4EZVY3a0YojCO6hm_nYkOn/view?usp=sharing" title="My Resume">Resume</a>
        <a class="link dim mid-gray dib f6 f5-ns" href="#" title="Send an Email">Get in touch!</a>
    </div>
</nav>

  