<nav class="sans-serif dt w-100 mw8 border-box pa3 pt4 ph4 ph5-ns center">
    <div class="dtc v-mid w-75 tl">
        <a class="link dim gray f6 f5-ns dib mr3 mr4-ns" href="index2.html" title="Home Page">Home</a>
        <a class="link dim gray f6 f5-ns dib mr3 mr4-ns" target="_blank" rel="noreferrer noopener" href="https://drive.google.com/file/d/1FmijMqs1Hb4EZVY3a0YojCO6hm_nYkOn/view?usp=sharing" title="My Resume">Resume</a>
        <a class="link dim gray f6 f5-ns dib" href="#" title="Send an Email">Email me</a>
    </div>
</nav>