<!DOCTYPE html>
	<html>
  
		<head>
			<meta charset="UTF-8">
      <title>{{ page.title }}</title>
      <meta name="description" content="Mario Siauw is passionate about building products that focuses on usability">
      <meta name="keywords" content="product design, portfolio, web design, ux design, ui design">
      <meta name="author" content="Mario Siauw">
      <!-- link to main stylesheet -->
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
      <link rel="stylesheet" href="/css/lightbox.css"/>
		</head>
    
		<body>
			<nav class="sans-serif dt w-100 mw8 border-box pa3 pt4 ph4 ph5-ns center">
        <div class="dtc v-mid w-75 tl">
          <a class="link dim gray f6 f5-ns dib mr3 mr4-ns" href="index2.html" title="Home Page">Home</a>
          <a class="link dim gray f6 f5-ns dib" target="_blank" rel="noreferrer noopener" href="https://drive.google.com/file/d/1FmijMqs1Hb4EZVY3a0YojCO6hm_nYkOn/view?usp=sharing" title="My Resume">Resume</a>
        </div>
      </nav>
			<div class="container">
			
			{{ content }}
			
      </div>
      
      <!-- /.container -->
      
      <footer>
      </footer>
		</body>
	</html>
