<!DOCTYPE html>
	<html>
  
		<head>
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<meta name="description" content="Mario Siauw is passionate about building products that focuses on usability">
			<meta name="keywords" content="product design, portfolio, web design, ux design, ui design">
			<meta name="author" content="Mario Siauw">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
			<link rel="stylesheet" href="/css/lightbox.css"/>
			<script src="https://kit.fontawesome.com/8cf19a22a2.js"></script>
		</head>
    
		<body class="pt5">

			{% include navigation.html %}

			{{ content }}

		</body>
	</html>
